@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,700;1,400;1,700&family=Pacifico&display=swap");
@import "./settings.scss";

html,
body,
#app {
  padding: 0px;
  margin: 0px;
  width: 100vw;
  height: 100vh;
  font-family: "Mulish", sans-serif;
  font-size: 1.1rem;
  line-height: 28px;

  .material-icons,
  .material-icons-outlined {
    font-size: 1.5rem;
  }

  &.light-theme {
    color: $black;
    background-color: $bg-color;
  }

  &.dark-theme {
    color: white;
    background-color: $black;
  }
}

#app {
  display: grid;
  grid-template-rows: 10% 90%;
}

h1 {
  padding: 0px;
  margin: 0px;
  font-size: 1.3rem;

  &.block-title {
    padding: $std-padding;
    margin: 10px;
    background-color: $tiffany-blue;
    border-radius: $std-border-radius;
    color: white;
    width: 100%;
    text-align: center;
  }
}

a {
  &.button-link {
    text-decoration: none;
  }
}

main {
  height: 100%;

  &.central-container {
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}

.buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  outline: none;
  position: relative;
  font-family: "Mulish", sans-serif;
  font-size: 1rem;
  color: $black;

  span.material-icons-outlined {
    vertical-align: middle;
  }

  &.light span.material-icons-outlined {
    color: $black;
  }
  &.dark span.material-icons-outlined {
    color: white;
  }

  @mixin basic-button {
    border-radius: $std-border-radius;
    border-style: solid;
    border-width: 2px;
    padding: 0.5rem 1rem;
    background-color: white;
    transition: 0.3s;
  }

  &.primary {
    @include basic-button;
    $color: $cg-blue;
    border-color: $color;
    color: $color;

    &:hover {
      background-color: $color;
      color: white;
    }
  }

  &.warning {
    @include basic-button;
    $color: $maximum-yellow-red;
    border-color: $color;
    color: $color;

    &:hover {
      background-color: $color;
      color: white;
    }
  }

  &.error {
    @include basic-button;
    $color: $light-coral;
    border-color: $color;
    color: $color;

    &:hover {
      background-color: $color;
      color: white;
    }
  }

  &.round {
    $size: 3rem;

    height: $size;
    width: $size;
    background-color: transparent;
    border-radius: 50%;
    border: none;
    transition: 0.3s;

    &.light:hover {
      background-color: darken($bg-color, 10);
    }
    &.dark:hover {
      background-color: lighten($black, 10);
    }
  }

  &.transparent {
    background-color: transparent;
    border-radius: 50%;
    border: none;
    transition: 0.3s;
  }

  &.wallet {
    background-color: transparent;
    border: solid 2px $grey;
    border-radius: 5px;
    padding: $std-padding;

    & > span:first-child {
      border-right: solid 2px $grey;
      padding-right: 10px;
    }
    & > span:last-child {
      padding-left: 5px;
    }

    &.light {
      color: $black;
    }
    &.dark {
      color: white;
    }
  }
}

.tooltip {
  background-color: $black;
  color: white;
  display: none;
  padding: 0px 5px;
  border-radius: $std-border-radius;
  font-size: 0.8rem;
}

.tooltip-arrow,
.tooltip-arrow::before {
  position: absolute;
  width: 8px;
  height: 8px;
  background: inherit;
}

.tooltip-arrow {
  visibility: hidden;
}

.tooltip-arrow::before {
  visibility: visible;
  content: "";
  transform: rotate(45deg);
}

.tooltip[data-show] {
  display: block;
}

.tooltip[data-popper-placement^="top"] > .tooltip-arrow {
  bottom: -4px;
}

.tooltip[data-popper-placement^="bottom"] > .tooltip-arrow {
  top: -4px;
}

.tooltip[data-popper-placement^="left"] > .tooltip-arrow {
  right: -4px;
}

.tooltip[data-popper-placement^="right"] > .tooltip-arrow {
  left: -4px;
}
