$cg-blue: #227c9dff;
$tiffany-blue: #17c3b2ff;
$maximum-yellow-red: #ffcb77ff;
$floral-white: #fef9efff;
$light-coral: #fe6d73ff;

$bg-color: $floral-white;
$black: #31302e;
$grey: #dfdfdf;

$std-padding: 0.5rem 1rem;
$std-border-radius: 0.375rem;
